[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"
optimizer = true
optimizer_runs = 200

[rpc_endpoints]
mantle-sepolia = "https://rpc.sepolia.mantle.xyz"
localhost = "http://127.0.0.1:8545"

[etherscan]
mantle-sepolia = { key = "${MANTLESCAN_API_KEY}", url = "https://api-sepolia.mantlescan.xyz/api" }

[fmt]
line_length = 100
tab_width = 4
bracket_spacing = true
